<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menambahkan Surat</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/addsurat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>
    <section class="addsurat">
        <div class="container col-md-6 ">
            <div class="h-100 p-5 rounded-3">
                <h2 class="text-center">Tambah Surat</h2>
                <div class="form-add d-flex">
                    <form action="/add/inbox/save" method="POST" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label class="form-label">Nama Surat</label>
                            <input type="text" class="form-control" id="nama_surat" name="nama_surat" value="Njanjal">
                        </div>
                        <div class="mb-4">
                            <input type="hidden" class="form-control" name="kategori" value="SM">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Tanggal</label>
                            <input type="input" id="datepikcer" class="form-control"name="tanggal">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Pengirim</label>
                            <input type="text" class="form-control"name="pengirim" value="kentang">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Perihal</label>
                            <input type="text" class="form-control"name="perihal" value="nganu">
                        </div>
                        <div class="mb-3">
                            <label for="lampiran" class="form-label">Lampiran</label>
                            <input class="form-control" type="file"name="lampiran">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Keterangan</label>
                            <textarea class="form-control"name="keterangan" cols="30" rows="10" style="background-color: #1688ad; color: white; width: 577px;"></textarea>
                        </div>
                        <div class="button d-flex align-items-center highlight-toolbar ">
                            <div>
                                <a href="/dashboard" class="btn1 mb-3">Cancel</a>
                            </div>
        
                            <div>
                                <button class="btn2 mb-3" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                    <img src="{{url_for('static',filename='rectangle119.png')}}" alt="">
                </div>
                <hr>
            </div>
        </div>
    </section>
</body>

</html>