<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="login.css">
    <!--fonts google-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">


</head>

<body>
    <section class="login d-flex">
        <div class="login-left text-center w-50 h-100">
            <img class="img1" src="image/fabio-tura-eNDidEwl40g-unsplash.jpg" alt="">
            <p>Pengarsipan Surat Jadi Lebih Mudah</p>
        </div>

        <div class="login-rigth w-50 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-6">
                    <div class="header text-center">
                        <img class="mb-4" src="image/fulllogo_transparent 1.png" alt="" width="72" height="57">
                        <h1>Welcome</h1>
                        <p>to Pengarsipan Surat</p>
                    </div>
                    <div class="login-form">
                        <form>
                            <div class="form-floating1">
                                <input type="email" class="form-control" id="floatingInput" placeholder="Username">
                                <img src="image/🦆 icon _user_.png" alt="">
                            </div>
                            <div class="form-floating2">
                                <input type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password">
                                <img src="image/🦆 icon _lock locked_.png" alt="">
                            </div>
                            <button class="btn btn-success w-100 py-2" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>